body{
    background-color: rgb(233, 212, 253);
}
h1{
    text-align: center;
}
@media only screen and (min-width: 1180px) {
    .topnav{
        display: none;
    }
    ul {
        display: flex;
        list-style-type: none;
        justify-content: center;
        flex-wrap: wrap;
        background-color: rgb(207, 159, 252);
      }
      li{
        padding: 1em;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        font-size: 40px;
        padding: 1px 40px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: rgb(174, 87, 255);
      }

      .grid-container{
        display: inline-grid;
        column-gap: 40px;
        grid-template-columns: auto auto auto auto;
    }
    .grid-item{
        padding-top: 50px;
        padding-left: 130px;
        align-items: center;
    }
    .grid-item-samsung{
        padding-left: 130px;
        padding-top: 150px;
        align-items: center;
    }
    .grid-item-sony{
        padding-left: 130px;
        padding-top: 150px;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
    }
    .grid-name{
        padding-left: 60px;
        padding-top: 30px;
        font-size: 25px;
        text-align: center;
    }
    .grid-name-Pro{
      padding-left: 130px;
      padding-top: 30px;
      font-size: 25px;
      text-align: center;
    }
    .grid-links{
        padding-left: 60px;
        padding-top: 20px;
        padding-bottom: 50px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    }
    .grid-links-Pro{
      padding-left: 130px;
      padding-top: 20px;
      padding-bottom: 50px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
    }
}

@media only screen and (min-width: 1500px) {
  .topnav{
      display: none;
  }
  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(207, 159, 252);
  }
  li{
    padding: 1em;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 1px 40px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(174, 87, 255);
  }

  .grid-container{
    display: inline-grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto auto;
}
.grid-item{
    padding-top: 50px;
    padding-left: 150px;
    align-items: center;
}
.grid-item-samsung{
    padding-left: 150px;
    padding-top: 150px;
}
.grid-item-sony{
    padding-left: 150px;
    padding-top: 150px;
    margin-top: auto;
    margin-bottom: auto;
}
.grid-name{
    padding-left: 80px;
    padding-top: 30px;
    font-size: 25px;
    text-align: center;
}
.grid-name-sony{
  padding-left: 140px;
  padding-top: 30px;
  font-size: 25px;
  text-align: center;
}
.grid-name-Pro{
  padding-left: 150px;
  padding-top: 30px;
  font-size: 25px;
  text-align: center;
}
.grid-links{
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.grid-links-sony{
  padding-left: 130px;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.grid-links-Pro{
  padding-left: 150px;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
}

@media only screen and (min-width: 600px) {
    .topnav {
        overflow: hidden;
        background-color: rgb(207, 159, 252);
        position: relative;
      }
    
      .topnav #myLinks {
        display: none;
        background-color: rgb(190, 142, 235);
      }
      #myLinks a:hover{
        cursor: pointer;
        background-color: rgb(173, 125, 218);
      }
    
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        cursor: default;
      }
    
      .topnav a.icon {
        background: rgb(174, 87, 255);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
      }
      
      .topnav a.icon:hover {
        background-color: #ddd;
        color: black;
      }
}
@media only screen and (min-width: 100px) {
    .topnav {
        overflow: hidden;
        background-color: rgb(207, 159, 252);
        position: relative;
      }
    
      .topnav #myLinks {
        display: none;
        background-color: rgb(190, 142, 235);
      }
      #myLinks a:hover{
        cursor: pointer;
        background-color: rgb(173, 125, 218);
      }
    
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        cursor: default;
      }
    
      .topnav a.icon {
        background: rgb(174, 87, 255);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
      }
      
      .topnav a.icon:hover {
        background-color: #ddd;
        color: black;
      }
}


.formOne{
    top: 100px;
    left: 100px;
    position: relative;
    display: inline-block;
}
select{
    padding: 10px 15px;
    font-size: 25px;
}
input{
    padding: 5px 10px;
    font-size: 15px;
}
.labelOne{
    font-size: 35px;
}
.formTwo{
    top: 100px;
    left: 400px;
    position: relative;
    display: inline-block;
}
.labelTwo{
    font-size: 35px;
}

.grid-links:hover{
    color: rgb(188, 199, 180);
}

#Airpods1{
    height: 200px;
    width: 200px;
}
#Airpods2{
    height: 200px;
    width: 150px;
}
#Airpods3{
    height: 200px;
    width: 250px;
}
#AirpodsPro{
    height: 150px;
    width: 225px;
}

#GalaxyBudsFE{
    height: 125px;
    width: 250px;
}
#GalaxyBudsLive{
    height: 150px;
    width: 200px;
}
#GalaxyBudsPro{
    height: 100px;
    width: 250px;
}
#GalaxyBuds2Pro{
    height: 125px;
    width: 300px;
}
#GalaxyBuds2{
    height: 100px;
    width: 250px;
}

#SonyXM3{
    height: 250px;
    width: 250px;
}
#SonyXM4{
    height: 250px;
    width: 250px;
}
#Sony720N{
  height: 250px;
  width: 200px;
}