@media only screen and (min-width:1000px){    
    body{
        background-color: #000c28;
    }
    
    @font-face {
        font-family: Grotley;
        src: url('assets/fonts/grotley-font/GrotleyRegular.mLEWv.otf');
    }
    @font-face {
        font-family: Queensides;
        src: url('assets/fonts/queensides-font/QueensidesMedium-x30zV.ttf');
    }

    #main_img{
        width: 100%;
    }
    #title_name{
        font-size: 840%;
        font-family: 'Grotley';
        font-weight: lighter;
        color: white;
        position: absolute;
        top: 37.5%;
        left: 12%;
    }
    #bottom_title{
        font-size: 420%;
        font-family: 'Grotley';
        font-weight: lighter;
        color: white;
        position: absolute;
        top: 59.5%;
        left: 35.5%;
    }
    .rectangle{
        position: absolute;
        top: 49%;
        left: 9.5%;
        height: 13%;
        width: 81.5%;
        background-color: rgb(105, 105, 105);
        opacity: 30%;
        border-radius: 30px;
    }
    .small_rec{
        position: absolute;
        top: 65%;
        left: 32%;
        height: 80px;
        width: 590px;
        background-color: rgb(105, 105, 105);
        opacity: 30%;
        border-radius: 25px;
    }
    #thickarrowright{
        position: absolute;
        left: 90.9%;
        top: 50%;
        height: 150px;
        height: 150px;
    }
    #thickarrowleft{
        position: absolute;
        right: 90.9%;
        top: 50%;
        height: 150px;
        height: 150px;
        transform: rotate(180deg);
    }
    #thinarrow{
        position: absolute;
        height: 100px;
        width: 100px;
        transform: rotate(90deg);
        left: 48%;
        top: 86%;
    }
    #arttitle{
        font-size: 55px;
        font-family: 'Queensides';
        color: white;
        position: absolute;
        left: 10%;
        top: 125%;
    }
    #infotitle{
        font-size: 55px;
        font-family: 'Queensides';
        color: white;
        position: absolute;
        left: 10%;
        top: 175%;
    }
    
    #twod{
        font-size: 80px;
        font-family: 'Queensides';
        color: white;
        position: absolute;
        top: 111.5%;
        left: 21%;
    }
    #threed{
        font-size: 80px;
        font-family: 'Queensides';
        color: white;
        position: absolute;
        top: 111.5%;
        left: 45.7%;
    }
    #coding{
        font-size: 70px;
        font-family: 'Queensides';
        color: white;
        position: absolute;
        top: 109%;
        left: 70.5%;
        text-align: center;
    }
    #about{
        font-size: 75px;
        font-family: 'Queensides';
        color: white;
        position: absolute;
        top: 157%;
        left: 21.2%;
        text-align: center;
    }
    #social{
        font-size: 80px;
        font-family: 'Queensides';
        color: white;
        position: absolute;
        top: 161.5%;
        left: 46%;
    }
    #contact{
        font-size: 65px;
        font-family: 'Queensides';
        color: white;
        position: absolute;
        top: 159%;
        left: 70.5%;
        text-align: center;
    }
    
    a{
        color: white;
        text-decoration: none;
    }
    
    .twodblock{
        position: absolute;
        width: 250px;
        height: 250px;
        top: 111.5%;
        left: 20%;
        background-color: rgb(108, 92, 156);
        border-radius: 25px;
    }
    .threedblock{
        position: absolute;
        width: 250px;
        height: 250px;
        top: 111.5%;
        left: 45%;
        background-color: rgb(108, 92, 156);
        border-radius: 25px;
    }
    .codeblock{
        position: absolute;
        width: 250px;
        height: 250px;
        top: 111.5%;
        left: 70%;
        background-color: rgb(108, 92, 156);
        border-radius: 25px;
    }
    .aboutblock{
        position: absolute;
        width: 250px;
        height: 250px;
        top: 161.5%;
        left: 20%;
        background-color: rgb(108, 92, 156);
        border-radius: 25px;
    }
    .socialblock{
        position: absolute;
        width: 250px;
        height: 250px;
        top: 161.5%;
        left: 45%;
        background-color: rgb(108, 92, 156);
        border-radius: 25px;
    }
    .contactblock{
        position: absolute;
        width: 250px;
        height: 250px;
        top: 161.5%;
        left: 70%;
        background-color: rgb(108, 92, 156);
        border-radius: 25px;
    }
    
    .pagebottom{
        position: absolute;
        background-color: #131f3a;
        width: 99.4%;
        height: 7%;
        top: 196%;
        left: 0.6%;
    }
    .copyright{
        font-family: 'Queensides';
        font-size: 30px;
        color: white;
        position: absolute;
        top: 194%;
        left: 42%;
    }
    .pagebottomweb{
        position: absolute;
        background-color: #131f3a;
        width: 99.4%;
        height: 7%;
        top: 190%;
        left: 0.6%;
    }
    .copyrightweb{
        font-family: 'Queensides';
        font-size: 30px;
        color: white;
        position: absolute;
        top: 188%;
        left: 42%;
    }
    .pagebottomthreed{
        position: absolute;
        background-color: #131f3a;
        width: 99.4%;
        height: 7%;
        top: 93%;
        left: 0.6%;
    }
    .copyrightthreed{
        font-family: 'Queensides';
        font-size: 30px;
        color: white;
        position: absolute;
        top: 91%;
        left: 42%;
    }
    .pagebottomtwod{
        position: absolute;
        background-color: #131f3a;
        width: 99.4%;
        height: 7%;
        top: 93%;
        left: 0.6%;
    }
    .copyrighttwod{
        font-family: 'Queensides';
        font-size: 30px;
        color: white;
        position: absolute;
        top: 91%;
        left: 42%;
    }
    .pagebottomsocial{
        position: absolute;
        background-color: #131f3a;
        width: 99.4%;
        height: 7%;
        top: 93%;
        left: 0.6%;
    }
    .copyrightsocial{
        font-family: 'Queensides';
        font-size: 30px;
        color: white;
        position: absolute;
        top: 91%;
        left: 42%;
    }
    .pagebottomcontact{
        position: absolute;
        background-color: #131f3a;
        width: 99.4%;
        height: 7%;
        top: 93%;
        left: 0.6%;
    }
    .copyrightcontact{
        font-family: 'Queensides';
        font-size: 30px;
        color: white;
        position: absolute;
        top: 91%;
        left: 42%;
    }
    
    ul{
        background-color: rgb(108, 92, 156);
        list-style-type: none;
        margin-left: 22%;
        margin-top: 0%;
        padding: 0;
    }
    li{
        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        font-size: 30px;
        font-family: 'Queensides';
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color: rgb(127, 110, 175);
    }
    li a.current {
        background-color: rgb(127, 110, 175);
        color: white;
    }

    .hologram{
        width: 24%;
        position: absolute;
        left: 7.5%;
        top: 14%;
    }
    .robotarms{
        width: 28.9%;
        position: absolute;
        left: 32.5%;
        top: 14%;
    }
    .ivywall{
        width: 28.9%;
        position: absolute;
        left: 62.5%;
        top: 14%;
    }
    .landscapedrawing{
        width: 27.5%;
        position: absolute;
        left: 14%;
        top: 53.5%;
    }
    .pixelflowers{
        width: 14.5%;
        position: absolute;
        left: 45%;
        top: 53.9%;
    }
    .bouncyball{
        width: 19.5%;
        position: absolute;
        left: 63.5%;
        top: 53.5%;
    }

    .cuprender{
        width: 24%;
        position: absolute;
        top: 14%;
        left: 12.2%;
    }
    .castlerender{
        width: 24.3%;
        position: absolute;
        top: 14%;
        left: 37.2%;
    }
    .extruderender{
        width: 22.5%;
        position: absolute;
        top: 14%;
        left: 62.5%;
    }
    .vanrender{
        width: 31%;
        position: absolute;
        top: 55.5%;
        left: 20.5%;
    }
    .bookrender{
        width: 24%;
        position: absolute;
        top: 55.5%;
        left: 52.5%;
    }
    
    .infoheading{
        font-family: 'Queensides';
        font-size: 100px;
        color: white;
        position: absolute;
        text-align: left;
        top: 10%;
        left: 35%;
    }
    .socialheading{
        font-family: 'Queensides';
        font-size: 100px;
        color: white;
        position: absolute;
        text-align: left;
        top: 10%;
        left: 31%;
    }
    .contactheading{
        font-family: 'Queensides';
        font-size: 100px;
        color: white;
        position: absolute;
        text-align: left;
        top: 10%;
        left: 33%;
    }
    .information1{
        font-family: 'Queensides';
        font-size: 40px;
        color: white;
        position: absolute;
        text-align: left;
        top: 40%;
        left: 5%;
    }
    .information2{
        font-family: 'Queensides';
        font-size: 40px;
        color: white;
        position: absolute;
        text-align: left;
        top: 70%;
        left: 5%;
    }
    .information3{
        font-family: 'Queensides';
        font-size: 40px;
        color: white;
        position: absolute;
        text-align: left;
        top: 110%;
        left: 5%;
    }
    .cvinfo{
        font-family: 'Queensides';
        font-size: 40px;
        color: white;
        position: absolute;
        text-align: left;
        top: 130%;
        left: 5%;
    }
    .robotimg{
        float: right;
        position: absolute;
        top: 30%;
        left: 40%;
        height: 1200px;
    }
    
    .githublogo{
        position: absolute;
        left: 5%;
        height: 22%;
        width: 12%;
        top: 44%;
    }
    .discordlogo{
        position: absolute;
        left: 35.5%;
        height: 22%;
        width: 12%;
        top: 44%;
    }
    .linkedinlogo{
        position: absolute;
        left: 68%;
        height: 200px;
        width: 200px;
        top: 44%;
    }
    .githubname{
        position: absolute;
        float: left;
        margin-left: 17.5%;
        top: 44%;
        font-family: 'Queensides';
        font-size: 60px;
        color: white;
        cursor: pointer;
        text-decoration: underline;
    }
    .discordname{
        position: absolute;
        float: left;
        margin-left: 48.5%;
        top: 44%;
        font-family: 'Queensides';
        font-size: 60px;
        color: white;
        cursor: pointer;
        text-decoration: underline;
    }
    .linkedinname{
        position: absolute;
        float: left;
        margin-left: 81%;
        top: 44%;
        font-family: 'Queensides';
        font-size: 60px;
        color: white;
        cursor: pointer;
        text-decoration: underline;
    }
    
    .contactrectangle{
        background-color: rgb(173, 173, 173);
        height: 400px;
        width: 1000px;
        position: absolute;
        left: 18%;
        top: 42%;
        border-radius: 25px;
    }
    .contactseparator1{
        background-color: black;
        height: 3px;
        width: 1000px;
        position: absolute;
        left: 18%;
        top: 52%;
    }
    .contactseparator2{
        background-color: black;
        height: 3px;
        width: 1000px;
        position: absolute;
        left: 18%;
        top: 62.5%;
    }
    /*
    .name{
        font-family: 'Queensides';
        font-size: 40px;
        position: absolute;
        top: 39.5%;
        left: 20%;
    }
    .email{
        font-family: 'Queensides';
        font-size: 40px;
        position: absolute;
        left: 20%;
        top: 51%;
    }
    .enquiry{
        font-family: 'Queensides';
        font-size: 40px;
        position: absolute;
        left: 20%;
        top: 62%;
    }
    .namerec{
        background-color: white;
        height: 65px;
        width: 799px;
        position: absolute;
        top: 43.5%;
        left: 29%;
        border-radius: 25px;
    }
    .emailrec{
        background-color: white;
        height: 65px;
        width: 799px;
        position: absolute;
        top: 55%;
        left: 29%;
        border-radius: 25px;
    }
    .enquiryrec{
        background-color: white;
        height: 130px;
        width: 940px;
        position: absolute;
        top: 75%;
        left: 20%;
        border-radius: 25px;
    }*/
    
    form{
        position: absolute;
        top: 44%;
        left: 20%;
    }
    form label{
        font-size: 40px;
        font-family: 'Queensides';
    }
    #fname{
        width: 790px;
        height: 50px;
        position: absolute;
        left: 95%;
        top: 1%;
        border-radius: 25px;
    }
    #email{
        width: 790px;
        height: 50px;
        position: absolute;
        left: 95%;
        top: 39.5%;
        border-radius: 25px;
    }
    #enquiry{
        width: 920px;
        height: 120px;
        position: absolute;
        top: 103%;
        border-radius: 25px;
    }
    #submit{
        position: absolute;
        left: 750%;
        top: 137%;
        font-size: 40px;
        font-family: 'Queensides';
        cursor: pointer;
        border-radius: 10px;
    }

    .sites{
        font-family: 'Queensides';
        font-size: 100px;
        position: absolute;
        top: 2%;
        color: white;
        left: 38%;
    }
    .sitelink{
        font-family: 'Queensides';
        font-size: 50px;
        position: absolute;
        left: 38%;
        top: 31%;
        color: #000c28;
        cursor: pointer;
    }
    .siterec{
        background-color: rgb(173, 173, 173);
        width: 33%;
        height: 11%;
        position: absolute;
        top: 35%;
        left: 34%;
        border-radius: 30px;
    }
    .ui{
        font-family: 'Queensides';
        font-size: 110px;
        position: absolute;
        top: 45%;
        color: white;
        left: 36%;
    }
    .headphoneUIOne{
        width: 40%;
        height: 40%;
        position: absolute;
        left: 5%;
        top: 130%;
    }
    .headphoneUITwo{
        width: 40%;
        height: 40%;
        position: absolute;
        left: 5%;
        top: 80%;
    }
    .ToDo{
        width: 40%;
        height: 90%;
        position: absolute;
        left: 55%;
        top: 80%;
    }
    .headphoneUIText{
        font-family: 'Queensides';
        font-size: 30px;
        position: absolute;
        top: 167%;
        left: 5%;
        color: white;
        text-align: center;
    }
    .ToDoText{
        font-family: 'Queensides';
        font-size: 30px;
        position: absolute;
        top: 167%;
        left: 58%;
        color: white;
        text-align: center;
    }
}